.container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-img {
  width: 150px;
  margin-bottom: 20px;
}

.eventos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.evento-card {
  width: 310px; /* largura fixa de cada card */
  margin: 10px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(255, 255, 255);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column; /* para alinhar o conteúdo verticalmente */
  background-color: #333;
  overflow: hidden; /* Para evitar que o conteúdo ultrapasse a largura do card */
}

.evento-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.evento-card a {
  color: inherit !important; /* Mantém a cor do texto herdada */
  text-decoration: none !important;
  cursor: pointer;
}

.evento-card a:hover {
  text-decoration: none !important; /* Remove o sublinhado quando hover */
}

.inscricao-button {
  margin-top: auto; /* Para alinhar o botão à parte inferior do card */
  align-self: center; /* Para centralizar o botão horizontalmente */
  font-size: 15px;
  border: none;
  border-radius: 10px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 45px;
  background: #6a7dfe;
  background: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
  background: -o-linear-gradient(to left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(to left, #21d4fd, #b721ff);
  background: linear-gradient(to left, #21d4fd, #b721ff);
}

.evento-link {
  color: inherit !important; /* Mantém a cor do texto herdada */
  text-decoration: none !important; /* Remove qualquer decoração de texto */
}

.evento-link:hover {
  text-decoration: none !important; /* Remove o sublinhado quando hover */
}
